.container
  .row
    %h3 Facturas
  .row.summary
    .span3
      %h5 MONTO DE TRANSACCIONES
      = number_to_currency(@invoices.reduce(0) { |sum, invoice| sum + invoice.total })
    .span3
      %h5 NÚMERO DE FACTURAS
      = @invoices.count
  .row
    %table.table.table-bordered.table-striped.table-hover
      %thead
        %tr
          %th Emisor
          %th Receptor
          %th Descripción
          %th Tipo
          %th Fecha
          %th Subtotal
          %th Impuesto
          %th Total
      - @invoices.each do |invoice|
        %tr
          %td= invoice.issuer
          %td= invoice.recipient
          %td= invoice.description
          %td= invoice.invoice_type
          %td= format_time(invoice.date)
          %td= number_to_currency(invoice.subtotal)
          %td= number_to_currency(invoice.tax)
          %td= number_to_currency(invoice.total)