.navbar.navbar-top
  .navbar-inner
    .container.container-navbar
      = link_to "Factoor", root_path, class: "brand"
      .nav-collapse.collapse
      - if logged_in?
        %ul.nav
          = link_to "AGREGAR FACTURA", new_invoice_path
        %ul.nav
          = link_to "INGRESOS", income_invoices_path
        %ul.nav
          = link_to "EGRESOS", expense_invoices_path
        %ul.nav
          = link_to "TOTAL", invoices_path
        %ul.nav
          = link_to "SALIR", logout_path
      - else
        %ul.nav
          = link_to "ENTRAR", "/auth/facebook"